#e63_2 {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 900px;
  position: absolute;
}
#e64_9 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 249px;
  height: 41px;
  position: absolute;
  left: 45px;
  top: 156px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0;
  line-height: undefined;
}
#e63_63 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 85px;
  height: 28px;
  position: absolute;
  left: 182px;
  top: 450px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
  line-height: undefined;
}
#e63_64 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 182px;
  top: 584px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0;
  line-height: undefined;
}
#e64_123 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 350px;
  height: 500px;
  position: absolute;
  left: 775px;
  top: 200px;
}
#img_preview {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
#e64_24 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 895px;
  height: 40px;
  position: absolute;
  left: 190px;
  top: 488px;
}
#submit_button {
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#tags_input {
  font-family: Helvetica Neue;
  font-style: italic;
  font-size: 16px;
  opacity: 1;
  border: 0ch;
  width: 99%;
  height: 97%;
  position: relative;
  left: 0px;
  top: 0px;
}
#description_input {
  font-family: Helvetica Neue;
  font-style: italic;
  font-size: 18px;
  resize: none;
  opacity: 1;
  border: 0ch;
  width: 99%;
  height: 95%;
  position: relative;
  left: 0px;
  top: 0px;
}
#e63_34 {
  opacity: 1;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 880px;
  top: 375px;
  background-image: url(images/add-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e63_36 {
  background-color: white;
  border: 0ch;
  opacity: 1;
  width: 100px;
  height: 70px;
  position: absolute;
  left: -10px;
  top: 0px;
  cursor: pointer;
}
.style-file-upload {
  opacity: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 12pt;
  text-align: center;
}
input[type="file"] {
  display: none;
}

#e136_1971 {
  transform: rotate(129.99999870199892deg);
  background-color: rgba(
    120.06249949336052,
    60.490523502230644,
    6.5033890306949615,
    0.4000000059604645
  );
  width: 850px;
  height: 70px;
  position: absolute;
  left: 1536.9925537109375px;
  top: 292.39068603515625px;
}
#e64_9 {
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: 41px;
  position: absolute;
  left: 57px;
  top: 171px;
  font-family: Helvetica;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0;
}
#e136_1970 {
  transform: rotate(-50.000001298001074deg);
  background-color: rgba(
    120.06249949336052,
    60.490523502230644,
    6.5033890306949615,
    0.4000000059604645
  );
  width: 700px;
  height: 70px;
  position: absolute;
  left: 1050px;
  top: 989.2310791015625px;
}
#e63_63 {
  color: rgba(0, 0, 0, 1);
  width: 85px;
  height: 28px;
  position: absolute;
  left: 82px;
  top: 275px;
  font-family: Helvetica;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
#e63_64 {
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: 26px;
  position: absolute;
  left: 82px;
  top: 400px;
  font-family: Helvetica;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
#e64_12 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 325px;
  height: 325px;
  position: absolute;
  left: 720px;
  top: 313px;
}
#e64_24 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 439px;
  height: 48px;
  position: absolute;
  left: 90px;
  top: 313px;
}
#e64_31 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  width: 439px;
  height: 115px;
  position: absolute;
  left: 90px;
  top: 435px;
}
#e136_2005 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  width: 1440px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e136_2006 {
  background-color: rgba(
    169.00000512599945,
    186.0000041127205,
    157.0000058412552,
    1
  );
  width: 1440px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e136_2007 {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 1332px;
  top: 28px;
  background-image: url(images/avatar_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e136_2008 {
  color: rgba(0, 0, 0, 1);
  width: 361px;
  height: 52px;
  position: absolute;
  left: 40px;
  top: 26px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 52px;
  letter-spacing: 0;
}
#e136_2009 {
  opacity: 1;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 1279px;
  top: 26px;
  background-image: url(images/enotis.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e136_2023 {
  background-color: rgba(
    120.00000044703484,
    60.00000022351742,
    7.000000057742,
    0.699999988079071
  );
  width: 257px;
  height: 69px;
  position: absolute;
  left: 96px;
  top: 700px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#e136_2024 {
  color: rgb(39, 36, 36);
  width: 155px;
  height: 46px;
  position: absolute;
  left: 147px;
  top: 712px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0;
}
#e134_0 {
  transform: rotate(-50.000001298001074deg);
  background-color: rgba(
    120.06249949336052,
    60.490523502230644,
    6.5033890306949615,
    0.4000000059604645
  );
  position: absolute;
  top: 495px;
  left: 850px;
  width: 775.1265258789062px;
  height: 70px;
}
#e135_21 {
  transform: rotate(-50.000001298001074deg);
  background-color: rgba(
    120.06249949336052,
    60.490523502230644,
    6.5033890306949615,
    0.4000000059604645
  );
  position: absolute;
  top: 700px;
  left: 900px;
  width: 700px;
  height: 70px;
}
#e158_1 {
  background-color: rgba(255, 253.93750101327896, 253.93750101327896, 1);
  width: 1440px;
  height: 300px;
  top: 800px;
  position: absolute;
  z-index: 1;
}
#e159_1 {
  background-color: rgba(255, 253.93750101327896, 253.93750101327896, 1);
  width: 193px;
  height: 1067px;
  left: 1450px;
  position: absolute;
  z-index: 1;
}
#e63_81 {
  overflow: hidden;
}
#e63_81 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 900px;
  position: absolute;
}
#e63_82 {
  color: rgba(0, 0, 0, 1);
  width: 166px;
  height: 41px;
  position: absolute;
  left: 55px;
  top: 149px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0;
}
#e63_83 {
  color: rgba(0, 0, 0, 1);
  width: 85px;
  height: 28px;
  position: absolute;
  left: 687px;
  top: 450px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
#e63_83_2 {
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 30px;
  position: absolute;
  left: 682px;
  top: 500px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: left;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0;
}
#e130_22 {
  color: rgba(0, 0, 0, 1);
  width: 126px;
  height: 157px;
  position: absolute;
  left: 920px;
  top: 120px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 120px;
  letter-spacing: 0;
}
#e63_84 {
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: 25px;
  position: absolute;
  left: 687px;
  top: 597px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0;
}
#e63_84_2 {
  color: rgba(0, 0, 0, 1);
  width: 650px;
  height: 80px;
  position: absolute;
  left: 682px;
  top: 650px;
  font-family: Helvetica;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0;
}
#e63_86 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 400px;
  height: 535px;
  position: absolute;
  left: 90px;
  top: 220px;
}

#e130_40 {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 720px;
  top: 260px;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_40_black {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 720px;
  top: 260px;
  background-image: url(images/star2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_42 {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 829px;
  top: 260px;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_42_black {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 829px;
  top: 260px;
  background-image: url(images/star2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_43 {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 937px;
  top: 260px;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_43_black {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 937px;
  top: 260px;
  background-image: url(images/star2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_39 {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 1046px;
  top: 260px;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_39_black {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 1046px;
  top: 260px;
  background-image: url(images/star2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_41 {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 1154px;
  top: 260px;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e130_41_black {
  width: 105px;
  height: 100px;
  position: absolute;
  left: 1154px;
  top: 260px;
  background-image: url(images/star2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e135_139 {
  transform: rotate(-50.000001298001074deg);
  background-color: rgba(
    120.06249949336052,
    60.490523502230644,
    6.5033890306949615,
    0.4000000059604645
  );
  width: 700px;
  height: 70px;
  position: absolute;
  left: 1033px;
  top: 1007.2310791015625px;
}
#e135_140 {
  transform: rotate(-50.000001298001074deg);
  background-color: rgba(
    120.06249949336052,
    60.490523502230644,
    6.5033890306949615,
    0.4000000059604645
  );
  width: 850px;
  height: 70px;
  position: absolute;
  left: 920px;
  top: 916.5333251953125px;
}
#e136_2014 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 251.17500364780426, 159.375, 1);
  width: 1440px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e136_2015 {
  background-color: rgba(
    169.00000512599945,
    186.0000041127205,
    157.0000058412552,
    1
  );
  width: 1440px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e136_2016 {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 1332px;
  top: 28px;
  background-image: url(images/avatar_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#e136_2017 {
  color: rgba(0, 0, 0, 1);
  width: 361px;
  height: 52px;
  position: absolute;
  left: 40px;
  top: 26px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 0;
}
#e205_65 {
  color: rgba(0, 0, 0, 1);
  width: 527px;
  height: 50px;
  position: absolute;
  left: 725px;
  top: 405px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0;
}

#e205_44 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 235px;
  height: 299px;
  position: absolute;
  left: 572px;
  top: 469px;
}

#e205_45 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 235px;
  height: 299px;
  opacity: 1;
  position: absolute;
  left: 853px;
  top: 469px;
}

#e215_0 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
  background-color: rgba(255, 255, 255, 1);
  width: 235px;
  height: 299px;
  opacity: 1;
  position: absolute;
  left: 1134px;
  top: 469px;
}

#rec_img {
  width: 235px;
  height: 299px;
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 1;
}

.e247_9 { 
	color:rgba(0, 0, 0, 1);
	width:185px;
	height:26px;
	position:absolute;
	left:82px;
	top:584px;
	font-family:Helvetica;
	text-align:center;
	font-size:24px;
  font-weight: bold;
	letter-spacing:0;
}

.e247_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
	width:439px;
	height:48px;
	position:relative;
	left:90px;
	top:629px;
}
#pref {
  width:439px;
  height:48px;
  border: none;
  font-size: 1.25rem;
  font-style: italic;
  cursor: pointer;
  line-height: 1.1;
  background-color: #FFF;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
